﻿.mainScrollBlock {
    margin-top: 20px;
    overflow: auto;
    max-height: 50%;
    border-bottom: 3px solid #336699;
    padding-bottom: 5px;
}

.infoBlock .header {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.infoItem {
    font-size:1em;
    float: left;
    display: block;
    line-height: 1em;
    margin-right:20px;
    margin-bottom:10px;
    padding:0;
}

    .infoItem .title {
        font-size: 1em;
        color: #aaa;
        display: inline;
    }

    .infoItem .info {
        font-size: 1.1em;
        color: #666;
        display: inline;
    }
