/* forecast table styles */
.tblForecast {
	margin-top: 30px;
}

.tblForecast td,
.tblForecast th {
	border: solid 1px #999999;
	padding: 0px 3px 0 3px;
	margin: 0px 5px 0 5px;
}



.tblForecast thead tr:nth-child(2) th,
.tblForecast thead tr:nth-child(1) th:nth-child(1),
.tblForecast thead tr:nth-child(1) th:nth-child(5) {
	border-bottom-width: 2px;
	border-bottom-color: #b72f13;
}

.tblForecast th {
	font-size: 1.1em;
	font-weight: bold;
}



/* item header */
.tblForecast thead tr:nth-child(1) th:nth-child(1) {
	background-color: #fff;
	text-align: left;
	vertical-align: bottom;
}

/* history header */
.tblForecast thead tr:nth-child(1) th:nth-child(2) {
	background-color: #eeeeee;
	text-align: center;
}

.tblForecast thead tr:nth-child(2) th:nth-child(1),
.tblForecast thead tr:nth-child(2) th:nth-child(2),
.tblForecast thead tr:nth-child(2) th:nth-child(3) {
	background-color: #eeeeee;
	text-align: left;
}

/* committed */
.tblForecast thead tr:nth-child(1) th:nth-child(3) {
	background-color: #49ffa2;
	text-align: center;
}

.tblForecast thead tr:nth-child(2) th:nth-child(4),
.tblForecast thead tr:nth-child(2) th:nth-child(5),
.tblForecast thead tr:nth-child(2) th:nth-child(6),
.tblForecast thead tr:nth-child(2) th:nth-child(7) {
	background-color: #49ffa2;
	text-align: left;
}

/* Forecast header */
.tblForecast thead tr:nth-child(1) th:nth-child(4) {
	background-color: #fffee2;
	text-align: center;
}

.tblForecast thead tr:nth-child(2) th:nth-child(8),
.tblForecast thead tr:nth-child(2) th:nth-child(9),
.tblForecast thead tr:nth-child(2) th:nth-child(10),
.tblForecast thead tr:nth-child(2) th:nth-child(11),
.tblForecast thead tr:nth-child(2) th:nth-child(12),
.tblForecast thead tr:nth-child(2) th:nth-child(13),
.tblForecast thead tr:nth-child(2) th:nth-child(14),
.tblForecast thead tr:nth-child(2) th:nth-child(15),
.tblForecast thead tr:nth-child(2) th:nth-child(16),
.tblForecast thead tr:nth-child(2) th:nth-child(17) {
	background-color: #fffee2;
	text-align: left;
}

/* total header */
.tblForecast thead tr:nth-child(1) th:nth-child(5) {
	background-color: #ffffff;
	vertical-align: bottom;
	text-align: right;
}

.tblForecast tbody tr td:nth-child(19) {
	text-align: right;
}

.clickable:hover {
	text-decoration: underline;
	color: #1aace8;
}

/* popover */
.popover-title {
	background-color: #b72f13;
	color: #ffffff;
}


.historyPopover th {
    background-color: #fff !important;
    border-bottom: solid #b72f13 2px ;
}
