﻿<%@ Page Title="" Language="C#" MasterPageFile="~/roleProductManager/productionMaster.master" AutoEventWireup="true" CodeBehind="productionPlanner.aspx.cs" Inherits="PoshForecastingTool.roleProductManager.productionPlanner" %>

<asp:Content runat="server" ContentPlaceHolderID="submasterHeadPlaceHolder">
    <link rel="stylesheet" href="/css/productsTable.css">
    <link rel="stylesheet" href="/css/productionPlanner.css">
</asp:Content>

<asp:Content ID="pageContent" ContentPlaceHolderID="masterContentPlaceHolder" runat="server">
    <div class="mainScrollBlock col-sm-12">
        <table id="productionPlan" class="tblForecast col-sm-12"></table>
    </div>

    <div class="infoBlock col-sm-12">
        <div class="header"></div>

        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>        <div class="infoItem">
            <div class="title">Data 1</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Info 2</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Stuff 3</div>
            <div class="info">123 456 789</div>
        </div>
        <div class="infoItem">
            <div class="title">Junk 4</div>
            <div class="info">123 456 789</div>
        </div>
    </div>
</asp:Content>

<asp:Content ID="pageScripts" ContentPlaceHolderID="scriptPlaceHolder" runat="server">
    <script type="text/javascript" src="/js/tableCreate.js"></script>
    <script type="text/javascript" src="/js/productionPlannerTableConfig.js"></script>
    <script type="text/javascript" src="/js/productionPlanner.js"></script>
</asp:Content>
