﻿<%@ Page Title="" Language="C#" MasterPageFile="~/roleManager/managerMaster.master" AutoEventWireup="true" CodeBehind="forecastSalesEdit.aspx.cs" Inherits="PoshForecastingTool.roleManager.forecastSalesEdit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="scriptPlaceHolder" runat="server">
</asp:Content>
