﻿<%@ Master Language="C#" MasterPageFile="~/siteMaster.Master" AutoEventWireup="true" CodeBehind="managerMaster.master.cs" Inherits="PoshForecastingTool.roleManager.managerMaster" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="submasterHeadPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="contentTopPage" ContentPlaceHolderID="pageNamePlaceHolder" runat="server">Manager View</asp:Content>

<asp:Content ID="masterScriptPlaceHolder" runat="server" ContentPlaceHolderID="scriptPlaceHolder">
    <script type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="scriptPlaceHolder" runat="server" ></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ID="siteMasterContent" ContentPlaceHolderID="siteMasterContentPlaceholder" runat="server">

    <asp:ContentPlaceHolder ID="masterContentPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>